<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" href="/views/css/findBy.css">
</head>

<body>
    <a href="/">
        <h1>CRUD Board</h1>
    </a>

    <h2>아이디 찾기</h2>

    <form action="/members/findById" method="post" class="container">
        <div class="group">
            <label for="name">이름</label>
            <input type="text" name="name" id="name" placeholder="이름을 입력하세요." required> <br>
            <label for="birth">생년월일</label>
            <input type="text" name="birth" id="birth" oninput="limitBirth()" placeholder="ex) 19990101" required> <br>
            <label for="email">이메일</label>
            <input type="email" name="email" id="email" oninput="warningEmail()" placeholder="ex) node@naver.com" required>
        </div>

        <input type="submit" value="확인" class="btn" onclick="find()">
    </form>

    <script src="/views/js/findById.js"></script>
</body>

</html>