<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="/views/css/reset-password.css">
</head>

<body>
    <a href="/">
        <h1>CRUD Board</h1>
    </a>

    <h2>비밀번호 재설정</h2>

    <form action="/reset-password" method="post" class="container">
        <div class="group">
            <label for="password">임시 비밀번호</label>
            <input type="text" name="password" id="password" placeholder="임시 비밀번호" required> <br>
            <label for="new">비밀번호</label>
            <input type="password" name="new" id="new" placeholder="새로운 비밀번호" required>
        </div>

        <input type="submit" value="저장" class="btn">
    </form>
</body>

</html>