* {
    overflow: hidden;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../image/sky.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.view_date {
    font-size: 12px;
    position: relative;
    left: 40.5%;
    text-align: right;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 7px;
    width: 90%;
    padding: 5px;
    text-align: center;
}

.editBtn {
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 7px;
    font-size: 12px;
    margin-right: 7px;
}

.delBtn {
    background-color: #ff3434;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 7px;
    font-size: 12px;
    margin-right: 7px;
}

.listBtn {
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 7px;
    font-size: 12px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: relative;
    left: 85%;
}

.commentBtn {
    background-color: #5C5AD9;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 7px;
    font-size: 12px;
}

.group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 40px;
    text-align: center;
}

.comment {
    width: 63%;
    padding: 2px 4px;
}

table {
    border-collapse: collapse;
}

td {
    text-align: right;
    border-bottom: 1px solid black;
    padding: 3px;
}

a:link,
a:visited {
    color: black;
}

a {
    text-decoration: none;
}

.paging {
    margin-top: 13px;
}