<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/views/css/create.css">
</head>

<body>
    <h1>CRUD Board</h1>

    <form action="/board/create" method="post">
        <div class="group">
            <input type="text" name="title" id="title" oninput="limitTitle()" placeholder="제목을 입력하세요.">
            <textarea name="content" id="content" cols="30" rows="10" placeholder="내용을 입력하세요."></textarea>
        </div>

        <input type="submit" value="저장" class="saveBtn">
    </form>

    <a href="/">
        <button class="cancelBtn">취소</button>
    </a>

    <script src="/views/js/create.js"></script>
</body>

</html>